<plugin author="Bright"
        title="Test Plugin"
        description="a simple Test"
        version="1.0.1"
        website="none"
        licence="none"
        validate="test_plugin">
    <backend>
        <widgets>
            <widget name="clock">
                <tpl>clock</tpl>
            </widget>
        </widgets>
        <settings>
            <section name="Settings" type="tab">
                <setting type="text" initValue="test value" sort="5">
                    <assign>test_value</assign>
                </setting>
            </section>
        </settings>
    </backend>
    <frontend>
        <!-- in progress -->
    </frontend>
</plugin>