<plugin author="Bright"
        title="Test Plugin"
        description="a simple Test"
        version="1.0.1"
        website="none"
        licence="none"
        validate="test_plugin">
    <backend>
        <widgets>
            <widget name="clock" tpl="clock"/>
        </widgets>
    </backend>
    <frontend>
    </frontend>
</plugin>