<plugin author="Bright"
        title="Another WaY"
        description="a simple Test 3"
        version="1.02.1"
        website="none"
        licence="none"
        validate="another_way">
    <backend>
        <settings>
            <section name="Settings" type="tab">
                <setting type="checkbox" title="Activate Plugin" initValue="on" sort="5">
                    <assign>test_activate_plugin</assign>
                </setting>
                <setting type="text" title="Output-String in Frontend" initValue="Output-Value" sort="10">
                    <assign>test_value_other</assign>
                </setting>
                <setting type="select" title="Position" initValue="Top" sort="15">
                    <options>
                        <option value="top">Top</option>
                        <option value="bottom">Bottom</option>
                    </options>
                    <assign>test_direction_select_other</assign>
                </setting>
            </section>
            <section name="colors" type="tab">
                <setting type="color" title="colorChecker" initValue="green" sort="5">
                    <assign>test_color_other</assign>
                </setting>
            </section>
        </settings>
    </backend>
</plugin>